.SearchEngine {

   
    border: 2px solid aliceblue;
    padding: 10px;
    text-align: center;
    background-color:#1d7874;
    color: aliceblue;
    
    
}

.searchTitle {

    font-family: 'Lobster', Georgia, Times, serif;
    text-decoration: underline;

}

.searchBar {


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
   
    margin: 5px;
    height: 50px;
}


#search {

    height: 30px;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    border-right: none;
  
   
    font-size: 1rem;
}


.searchBtt {

    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color:  #dda448;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
    color: aliceblue;
    border-left: none;

}

.searchIcon {

    height: 20px;
    width: 20px;
  
}