.Meal {

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 2px solid blue;
}


.mealInfo {

    border: 2px solid brown;
}



.bigMeal {

    height: 450px;
    width: 450px;

    border: 2px solid black;
    background-color: gray;
    
}


.bigImg {

    object-fit: cover;
    width: 100%;
}



.recette {

    border: 2px solid green;

}


.mesures {

    margin: 10px;
    border: 2px solid salmon;
}





.ingredients {

 
  border: 2px solid fuchsia;
 

}