.LetterSearch {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    margin-bottom: 50px;



}


.alpha {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.6);

}


.letter {

    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: #1d7874;
    color: aliceblue;
    border: 1px solid aliceblue;
    width: 25px;
    border-radius: 10px;

}