.Area-light {

    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}


.Area-dark {

    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: rgba(255, 255, 255, .87);
}