.Home {

    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.mealCard {

    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 20px;
}



.region {

    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 10px;
    
    



}




.country {

margin: 5px;

}