.lightswitch {

    width: 80px;
    border: 2px solid aliceblue;
    background-color: #1d7874;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
}

.lightswitch:hover {

    transform: scale(1.075);

}


.dmIcon {

    height: 30px;
    object-fit: cover;

}

