.Footer {

    display: flex;
    justify-content: space-around;

    background-color: #dda448;
    font-size: 1.4rem;
    border-top: 2px solid black;
    padding: 10px;
    
}

.about {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

}

.aboutTitle {

    text-decoration: underline;
}


.git {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.projectLinks {

    background-color: #1d7874;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 20px;
    
}

.powered {

    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}


.icons {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #883677;
    border: 2px solid aliceblue;
    margin-top: 5px;
    padding: 5px;

}


.techIcon {

    height: 40px;
    width: 40px;
    margin: 5px;
  

}