/*Colors

Hunyadi yellow : #dda448;
Engeneering orange : #bb0b0b;
Plum: #883677;
skobeloff: #1d7874;

*/

/*font pairing

lobster + roboto condensed
Lobster & Cabin

*/

/*Questions en suspend

regEx sur url by letter?


la page ingredient s'ouvre au milieu, pas en haut

2. comment faire pour valider l'input avec enter?


kisusu est buggé


slice des résultats et pagination? -> creer un state de la page courante(slice differement ex de 1 à 10, puis 11 à 20




*/

.App {

  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {


  font-family: 'Lobster', Georgia, Times, serif;

    text-decoration: underline;
    text-align: center;
}

h1 {

  font-size: 3.5rem;
 
}

h2 {

  font-size: 2.5rem;
}

a {

  text-decoration: none;
  color: black;
}


.cardDisplay {

  margin-bottom: 50px;
}