
.ByLetter-light {


    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}


.ByLetter-dark {


    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: rgba(255, 255, 255, .87);
}






